*{
background-color: #f8f6f6;
margin: 10px ;

}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
.unlist {
    display:flex;
    gap: 10px;
    list-style-type: none;
}
.Image {
    display:flex;
}
.res-logo{
    width: 150px;
}
.Center {
    margin-top: 2%;
}

.Card {
    
    /* height: 150px; */
    width: 200px;
    border-radius: 12px ;
    border: 1px solid rgb(46, 187, 212);
}
.restroContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.Card:hover {
    cursor: pointer;
    border-radius: 15px ;
    border: 2px solid rgb(212, 46, 198);
}

.btn {
    display: flex;
    
}

.shimmer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 250px;
    border-radius: 12px ;
    border: 1px solid rgb(46, 187, 212);
    background-color:  #d1c4c4;
    text-align: center;
}

.login {
    background-color: #d1c4c4;
    padding: 12px 10px;
    cursor: pointer;
}