*{
background-color: #e2bfbf;
margin: 10px ;

}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
.unlist {
    display:flex;
    gap: 10px;
    list-style-type: none;
}
.Image {
    display:flex;
}

.Center {
    margin-top: 5%;
}